body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:relative;
  left:-122px;
  width:990px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}

article {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  background-color:#ffffff;
  width:990px;
  margin-left:122px;
  margin-top: 120px;
}

article section {
  width:920px;
  padding-left: 30px;
}

p {
  color:#6b6b6b;
}

li {
  color:#6b6b6b;
  margin-top: 16px;
}

footer{
  clear: both;
  display: block; 
  text-align: center;
  width: 100%; 
  margin-left:122px;
  margin-top: 120px;
}

a {
  text-decoration:none;
}